<%- include('./includes/head', {pageTitle: 'Error - Elanor' }) %>
    </head>

    <body>
        <%- include('./includes/header') %> 
            <main>
                <h2>Not Authenticated!</h2>
                <p>You are not Authenticated</p>
                <p><a id="btn" href="/">Back To Safety!</a></p>
            </main>


            <%- include('./includes/footer) %>