<%- include('./includes/head.ejs', {pageTitle: 'Error - Elanor' }) %>
    </head>

    <body>
        <%- include('./includes/header.ejs') %>
            <main>
                <h2>Not Authorized!</h2>
                <p>You are not Authorized</p>
                <p><a id="btn" href="/">Back To Safety!</a></p>
            </main>

            <%- include('./includes/footer.ejs') %>