<%- include('./includes/head.ejs', {pageTitle: 'Error - Elanor' }) %>
    </head>

    <body>
        <%- include('./includes/header.ejs') %>

        <main>
            <h2>Could not find resource</h2>
            <p>Unforunately,We could not find resourse</p>
            <p><a id="btn" href="/">Back To Safety!</a></p>
        </main>


            <%- include('./includes/footer.ejs') %>