<%- include('./includes/head.ejs', {pageTitle: 'About Us' }) %>
    </head>

    <body>
        <%- include('./includes/header.ejs') %>
            <main>
                <h2>Something Is Wrong</h2>
                <p>Unforunately,Something went wrong - Please try again later</p>
                <p><a id="btn" href="/">Back To Safety!</a></p>
            </main>

            <%- include('./includes/footer.ejs') %>