<%- include('../../shared/includes/head.ejs', {pageTitle: 'Confirm Address - Elanor' }) %>
    <link rel="stylesheet" href="styles/cart.css">
    <link rel="stylesheet" href="styles/form.css">
    </head>

    <body>
        <%- include('../../shared/includes/header.ejs') %>
            <main>
                <h2>Confirm Address
                </h2>

                

                <%- include('../../shared/includes/address.ejs') %>
            </main>





            <%- include('../../shared/includes/footer.ejs') %>