<footer>
    <div id="footer-set">
        <ul>
            <h1>INFORMATION</h1>
            <li>
                <a href="/about-us">ABOUT US</a>
            </li>
            <li>
                <a href="/privacy-policy">PRIVACY POLICY</a>
            </li>
            <li>
                <a href="/terms-and-conditions">TERMS AND CONDITIONS</a>
            </li>
            <li>
                <a href="/faqs">FAQS</a>
            </li>
        </ul>
        <ul>
            <h1>CONTACT US</h1>
            <li>
                <a href="mailto:elanor.pk@gmail.com"><i class="fa-regular fa-envelope"></i></a>
            </li>
            <li>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</footer>
</body>

</html>