<ul id="header-icons">
    <li id="h">
        <a href="/">H O M E</a>
    </li>
    <li>
        <a href="/shop">S H O P</a>
    </li>
    <li id="q">
        <a href="/about-us">A B O U T &ensp;U S</a>
    </li>
    <li id="con">
        <a href="/contact-us">C O N T A C T &ensp;U S</a>
    </li>
    <li>
        <a href="/faqs">F A Q S</a>
    </li>
</ul>