<%- include('../../shared/includes/head.ejs', {pageTitle: 'About Us - Elanor' }) %>
    <link rel="stylesheet" href="styles/shared.css">

    </head>

    <body>
        <%- include('../../shared/includes/header.ejs') %>
            <main>

                <h2>About Us</h2>
                <div class="forall-bg">
                    <p>Elanor aspires to bring forth the products prepared carefully with an amalgamation of 100%
                        organic ingredients and remedies enriched with nutrients and borrowed directly from the lap of
                        nature.We aim to provide an easy way to reverse the damage already done to your natural beauty
                        by this cruel and rush lifestyle.</p>
                </div>


            </main>





            <%- include('../../shared/includes/footer.ejs') %>