<%- include('../../shared/includes/head.ejs', {pageTitle: 'Faqs' } )%>
    <link rel="stylesheet" href="styles/shared.css">
    <script src="scripts/faqs.js" defer></script>

    </head>

    <body>
        <%- include('../../shared/includes/header.ejs') %>
            <main>
                <h2>FAQ's</h2>
                <div class="questions-container">
                    <div class="question">
                        <button>
                            <span>How often should I apply the hair oil for better results?</span>
                            <svg class="svvg" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7">
                                </path>
                            </svg>
                        </button>
                        <p>You can apply hair oil for 1-2 times a week for maximum results. Massage the oil into your
                            scalp
                            and
                            hair
                            length. Leave it for 4-5 hours or overnight then wash it off using a mild shampoo.
                            (You may increase or decrease the application time as per your scalp condition)</p>
                    </div>

                    <div class="question">
                        <button>
                            <span>What are the ingredients?</span>
                            <svg class="svvg" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7">
                                </path>
                            </svg>
                        </button>
                        <p>Main Ingredients:Coconut oil (Cocos Nucifera), Mustard oil (Brassica Juncea),
                            Fenugreek (Trigonella foenum - graecum),
                            Aloe Vera, Fennel seeds (Foeniculum vulgare), Curry leaves (Murraya koenigii)
                            Along with other magical secret ingredients.</p>
                    </div>

                    <div class="question">
                        <button>
                            <span>Are there any negative effects of hair oil?</span>
                            <svg class="svvg" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7">
                                </path>
                            </svg>
                        </button>
                        <p>No, the hair oil is totally organic. But to avoid any allergenic reaction please patch test
                            first,
                            read the ingredients list carefully and make sure that you're not allergic to any
                            ingredient.
                        </p>
                    </div>

                    <div class="question">
                        <button>
                            <span>Can I cancel my order?</span>
                            <svg class="svvg" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 9l-7 7-7-7">
                                </path>
                            </svg>
                        </button>
                        <p>You can cancel your order before it is dispatched (within 3 hours of placing your order).</p>
                    </div>


                </div>
            </main>





            <%- include('../../shared/includes/footer.ejs') %>