<%- include('../../shared/includes/head.ejs', {pageTitle: 'Elanor' }) %>
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="stylesheet" href="/styles/home.css">


    </head>

    <body>
        <%- include('../../shared/includes/header.ejs') %>

            <main>
                <section id="one">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://res.cloudinary.com/dzjnl33rd/image/upload/v1680012755/1_knbxwv.png"
                                    class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dzjnl33rd/image/upload/v1680012924/2_tvj87q.png"
                                    class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/dzjnl33rd/image/upload/v1680013134/4_ote9os.png"
                                    class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </section>
                <section id="two">
                    <h2>Featured Products</h2>
                    <% for(const product of products) {%>
                        <li>
                            <%- include('../../shared/includes/product-item', {product: product}) %>
                        </li>
                        <% } %>
                </section>
                <section id="three">
                    <img src="https://res.cloudinary.com/dzjnl33rd/image/upload/v1680013142/blog_t2ahk6.png" alt="">
                </section>


            </main>

            <%- include('../../shared/includes/footer.ejs') %>