<%- include('../../shared/includes/head.ejs', {pageTitle: 'Privacy Policy - Elanor' } )%>
    <link rel="stylesheet" href="styles/shared.css">


    </head>

    <body>
        <%- include('../../shared/includes/header.ejs') %>
            <main>
                <h2>Privacy Policy</h2>
                <div class="forall-bg">
                    <h3>Gathering Personal Information:</h3>
                    <p> We gather some information about you, your device, your interaction with the Site, and the basic
                        information necessary to process your purchases when you order something or register to our
                        website. We
                        may also collect additional information or ask you for your name, e-mail address, mailing
                        address, phone
                        number, credit card information and other information. In this Privacy Policy, we refer to any
                        information that can uniquely identify an individual as “Personal Information”. See what
                        Personal
                        Information we collect and why.</p>
                    <h3>Purpose of Collecting Information:</h3>
                    <p> We use your personal Information to provide our services to you, which includes: </p>
                    <p class="ply">&#x2192 Offering products in which you are most interested</p>
                    <p class="ply">&#x2192 To quickly process your transactions</p>
                    <p class="ply">&#x2192 Processing payments</p>
                    <p class="ply">&#x2192 Shipping and fulfillment of your order</p>
                    <p class="ply">&#x2192 Keeping you up to date on new products, services and offers</p>
                    <p class="ply">&#x2192 To provide customer support</p>
                    <h3 id="mg">Protection of Information:</h3>
                    <p> We implement a variety of security measures to maintain the safety of your personal information.
                        Your
                        personal information is contained behind secured networks and is only accessible by a limited
                        number of
                        persons who have special access rights to such systems and are required to keep the information
                        confidential.</p>
                    <h3>Contact us:</h3>
                    <p> For more information about our privacy practices, if you have questions, or if you would like to
                        make a
                        complaint, please email us at <a href="mailto:elanor.pk@gmail.com"
                            class="com">elanor.pk@gmail.com</a> .</p>
                </div>

            </main>





            <%- include('../../shared/includes/footer.ejs') %>