<%- include('../../shared/includes/head.ejs', {pageTitle: 'Terms And Conditions - Elanor' }) %>
    <link rel="stylesheet" href="styles/shared.css">


    </head>

    <body>
        <%- include('../../shared/includes/header.ejs') %>
            <main>
                <h2>Terms And Conditions</h2>
                <div class="forall-bg">
                    <p> &#x2022; Elanor reserve the right to not entertain any orders with history of refusing to
                        receive cash on
                        delivery
                        orders. </p>
                    <p> &#x2022; In case of absence of any recipient at the provided address, rider will make only two
                        attempts,
                        after
                        that your order will be cancelled.</p>
                    <p> &#x2022; Elanor reserve the right to not entertain orders from person who has refused to receive
                        delivery
                        twice in
                        past.</p>
                    <p> &#x2022; As per our return or exchange policy, customers is bound to claim return or exchange
                        within 7
                        days of
                        receiving order. </p>
                    <p> &#x2022; No return or exchange is possible if the product is deformed, unsealed or used. </p>
                    <p> &#x2022; We will not compensate for the shipping charges paid by you while shipping back to us.
                        You have
                        to return
                        and exchange product at your own shipping expense. </p>
                    <p> &#x2022; Do not accept orders from rider if flyer is torn. </p>
                    <p> &#x2022; If you receive any damaged product, you must
                        contact us within 2 days for exchange or return.
                    </p>
                    <p> &#x2022; Strict action will be taken against any user identified
                    using hate speech or abusive comments on our social media platforms.</p>
                </div>
            </main>





            <%- include('../../shared/includes/footer.ejs') %>