.add-to-cart {

    margin-top: 1.25rem;
    padding: 0.9375rem;
    justify-content: space-evenly;

}

.add-to-cart a,
.add-to-cart button {
    background-color: var(--color-primary-300);
    color: var(--color-gray-700);
    font-size: 0.8125rem;
    padding: 0.9375rem 4.0625rem;
    font-weight: 500;

}

.add-to-cart a:hover,
.add-to-cart button:hover {
    background-color: var(--color-primary-400);
    cursor: pointer;
}

img {
    width: 23rem;
    object-fit: contain;
    margin-left: 20px;
}

.prg p {
    text-transform: uppercase;
    text-align: start;
    font-size: 1.375rem;
    font-family: var(--font-family-2);
}

.back-svg {
    width: 0.9375rem;
    margin-right: 0.25rem;
    height: 0.9375rem;
}


.wht {
    display: flex;
    margin-top: 3.125rem;
}

.dtl p {
    text-align: start;
    color: var(--color-gray-350);
    font-family: var(--font-family-2);
    margin-left: 0.375rem;
    text-transform: uppercase;
}

.it {
    font-size: 0.9375rem;
    color: var(--color-gray-400);
    font-family: var(--font-family-2);
    margin-left: 15px;
}

#upp {
    margin-left: 18px;
    display: inline;
}

.r {
    margin-left: 3.075rem;
}

.prag {
    margin-top: 6.25rem;
}

.inline {
    display: inline;
    margin-left: 18px;
    font-size: 24px;
}

span {
    font-size: 1.375rem;
    font-family: var(--font-family-2);
}

input[type="number" i] {
    margin-top: 0.75rem;
    padding: 0.5rem;
    width: 5rem;
    border-width: 0;
    border-bottom: 1px solid var(--color-gray-400);
}

input:focus {
    box-shadow: 1px 1px 5px rgb(68 68 68 / 40%);
    border-width: 0;
}

label {
    font-family: var(--font-family-2);
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

#summ {
    font-size: 17px;
    text-transform: none;
    font-family: var(--font-family-1);
}

@media (max-width:50.625rem) {
    .wht {
        flex-direction: column;
        margin-top: 3.125rem;
        text-align: center;
    }

    .r {
        margin-left: 0;
        margin-top: 3.125rem;
    }

    .r p {
        text-align: center;
    }

    input[type="number" i] {
        display: block;
        margin: auto;
        margin-top: 1.25rem;
        text-align: center;
    }

}


@media (max-width:63.75rem) {

    .add-to-cart a,
    .add-to-cart button {
        padding: 0.9375rem 2.5rem;
    }
}



@media (max-width: 41.25rem) {


    .shd {
        box-shadow: none
    }

    .dtl p {
        text-align: center;
    }

    .for-add {
        margin-bottom: 3.125rem;
    }

    .add-to-cart {
        padding: 0.9375rem;
    }


}


@media (max-width: 31.25rem) {
    img {
        margin-left: 0px;
        width: 60%;
    }
}

@media (max-width: 26.25rem) {

    .add-to-cart {
        display: flex;
        flex-direction: column;

    }

    .abcd {
        margin-top: 15px;
    }
}