<%- include('../../shared/includes/head.ejs', {pageTitle: 'Admin Add Product' } ) %>
    <script src="/scripts/image.preview.js" defer></script>
    <link rel="stylesheet" href="/styles/form.css">



    </head>

    <body>
        <%- include('../../shared/includes/header.ejs') %>
   
                <main>
                    <h2>Add New Product</h2>
                    <%- include('../includes/product-form.ejs') %>

                </main>





                <%- include('../../shared/includes/footer.ejs') %>